<!-- This partial view file. This will be inserted by AngularJS to index.html in place of <ng-view> element -->
<div>
  <h3>Bookshelf content:</h3>
  <ul ng-repeat="book in books.bookList">
    <li>{{ book.title }} <a ng-click="books.deleteBook(book)" href="">delete</a></li>
  </ul>
  <form name="newBookForm" ng-submit="books.addBook()" >
    <label for="newBook">New book:</label>
    <input type="text" name="newBook" id="newBook" ng-model="books.newBook.title" required/>
    <input type="submit"/>
  </form>
</div>
